# IntelliJ
*.iml

# Eclipse IDE File
.classpath
.project
.springBeans
.settings
target

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.tmproj
*.esproj
.checkstyle
nbproject
nbactions.xml
cobertura.ser

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Dreamweaver added files
_notes
dwsync.xml

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

